* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

@font-face {
  font-family: "Demiths";
  src: local("Demiths"),
    url("./components/fonts/Demiths-L3oRZ.otf") format("OpenType");
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.src {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url("./components/images/background.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template: 0.5fr 3fr / 1fr;
}

.choose-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.choose-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-container > div > div {
  border: 2px solid black;
  width: 160px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.choose-container > div > div:hover {
  background-color: rgba(224, 221, 221, 0.627);
  cursor: pointer;
}

.doing-wrap {
  background-image: url("./components/images/doing.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.will-wrap {
  background-image: url("./components/images/will.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.done-wrap {
  background-image: url("./components/images/done.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar > .navbar-div-projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.navbar-div-projects > .navbar-h3-projects {
  font-family: "Demiths";
  font-size: 24px;
  letter-spacing: 0.7px;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

.content-cards {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.card {
  background-color: white;
  width: 23%;
  height: 67%;
  border-radius: 25px;
  padding: 20px;
  border: 2px solid black;
}

.card > h4 {
  font-family: "Demiths";
  font-size: 15px;
  border-bottom: 2px solid black;
  border-radius: 10px;
  width: 80px;
  text-align: center;
}

.add-item {
  position: absolute;
  right: 35px;
  top: 140px;
  background-color: #fafafa;
  border: 2px solid rgba(215, 205, 205, 0.795);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Demiths";
}

.add-item:hover {
  background-color: #ded8d8;
  cursor: pointer;
}

.add-item > svg {
  height: 50px;
  width: 50px;
}
