/* Mady by MrEpoch */

/* -------- symbolizes end of one thing setting */

/* ======== symbolizes end of some chapter of settings like inputs or buttons */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-size: 70px;
  --hover-gray: #cbd5e1;
  --border-btn: #64748b;
  --btn-color: #ecfeff;
  --non-bright-var: #fafafa;
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Demiths";
  src: local("Demiths"),
    url("./components/fonts/Demiths-L3oRZ.otf") format("OpenType");
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Sora", sans-serif;
}

.src {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url("./components/images/back-grad.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template: 0.5fr 3fr / 1fr;
}

#doing,
#late,
#write,
#completed {
  display: grid;
  grid-template-rows: 1fr 3.5fr 1fr;
}

#write > .field-write {
  grid-row: 2 / 3;
  width: 40%;
  height: 100%;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr) 3fr 1fr;
  background-color: var(--non-bright-var);
  border: 2px solid var(--border-btn);
  border-radius: 5px;
  font-size: 16px;
}

.projNameContainer,
.projTimeContainer,
.projDateContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.projNameContainer > label {
  padding-right: 30px;
}

input {
  border: 2px solid var(--border-btn);
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

input[type="time"] {
  width: 80px;
  height: 30px;
}

input[type="date"] {
  width: 120px;
  height: 30px;
}

.projDoneContainer {
  display: grid;
  grid-template-columns: 0.01fr 1fr;
  align-items: center;
}

.projDoneContainer > div {
  border: 2px solid var(--border-btn);
  height: 15px;
  width: 15px;
}

.projDoneContainer > div:hover {
  background-color: var(--hover-gray);
}

.done-style {
  background-image: url("./components/images/check-better.svg");
  background-position: center;
  background-size: cover;
  background-color: rgba(144, 238, 144, 0.677);
}

.projDoneContainer > label {
  padding: 10px;
}

.projTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  border: 2px solid var(--border-btn);
  justify-self: center;
  resize: none;
  width: 420px;
  height: 180px;
  padding: 10px;
}

.projTimeContainer > label {
  padding-right: 30px;
}

.page-write-container {
  background-image: url("./components/images/creative.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.choose-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.back-choose {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64748b;
  border-radius: 50px;
}

.back-choose:hover {
  background-color: var(--non-bright-var);
  cursor: pointer;
}

.choose-container > #wrap-choose {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap-choose > div {
  border: 2px solid black;
  width: 160px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--non-bright-var);
}

.item-name,
.item-time,
.item-date,
.item-text {
  display: flex;
  padding: 5px;
}

.item-name > h3,
.item-time > h3,
.item-date > h3,
.item-text > h3 {
  padding-left: 15px;
}

#wrap-choose > div:hover {
  background-color: rgba(224, 221, 221, 0.627);
  cursor: pointer;
}

.doing-wrap {
  background-image: url("./components/images/doing.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.Late-wrap {
  background-image: url("./components/images/will.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.completed-wrap {
  background-image: url("./components/images/done.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  height: 50%;
}

.content-cards {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 23%;
  height: 67%;
  padding: 20px;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
}

.card > h5 {
  width: 2rem;
}

.card > h4 {
  justify-self: center;
  font-family: "Demiths";
  border-bottom: 3px solid black;
  font-size: 14px;
  width: 6rem;
  text-align: center;
}

.none {
  font-style: italic;
  font-weight: 400;
}

/* ================= */

/* Button css settings */

/* add btn */

.add-item {
  position: absolute;
  right: 35px;
  top: 140px;
  background-color: #fafafa;
  border: 2px solid var(--border-btn);
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Demiths";
  transition: 0.3s;
}

.add-item:hover {
  background-color: var(--hover-gray);
  border: 2px solid black;
  cursor: pointer;
}

.add-item > svg {
  height: 50px;
  width: 50px;
}

/* -------- */

/* see item btn */

.see-item {
  position: absolute;
  width: var(--btn-size);
  height: var(--btn-size);
  right: 10px;
  right: 35px;
  top: 250px;
  background-color: var(--non-bright-var);
  border-radius: 50px;
  display: flex;
  border: 2px solid var(--border-btn);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.see-item > svg {
  width: 40px;
  height: 40px;
}

.see-item:hover {
  background-color: var(--hover-gray);
  border: 2px solid black;
  cursor: pointer;
}

/* -------- */

/* return buttons settings */

#return-text {
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid var(--border-btn);
  transition: 0.1s;
}

#return-text:hover {
  border: 3px solid black;
  background-color: var(--hover-gray);
}

/* -------- */

/* Submit button settings */

.submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#submitBtn {
  background-color: var(--btn-color);
  border: 2px solid var(--border-btn);
  border-radius: 10px;
  width: 120px;
  height: 40px;
  align-self: center;
  font-family: "Demiths";
}

#submitBtn:hover {
  background-color: var(--hover-gray);
  border: 2px solid black;
}

/* -------- */
